# declaração das variáveis

# verifica quais números são divisíveis por cinco, e exibe aqueles que são

In [3]:
inicio = 0
fim = 100

In [11]:
for numero in range(inicio, fim):
 if numero % 5 == 0:
     print(numero)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

# Altere o código da atividade 1 para que ele exiba os números múltiplos de 
2, 5 e 7 (simultaneamente) e que estejam dentro do intervalo entre 100 e 
500 (incluindo o 100 e o 500).

In [21]:
inicio = 0
fim = 501

In [25]:
for numero in range(inicio, fim):
    if numero % 2 == 0 and numero % 5 == 0 and numero % 7 == 0:
         print(numero)

0
70
140
210
280
350
420
490

# Altere o código da atividade 1, criando uma variável divisor e, em seguida, 
verifique quais os números no intervalo entre 0 e 1000 (incluindo o 0 e 
excluindo o 1000) são múltiplos da variável divisor.

In [32]:
divisor = 7

for numero in range(0, 1000):
    if numero % divisor == 0:
        print(numero)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
140
147
154
161
168
175
182
189
196
203
210
217
224
231
238
245
252
259
266
273
280
287
294
301
308
315
322
329
336
343
350
357
364
371
378
385
392
399
406
413
420
427
434
441
448
455
462
469
476
483
490
497
504
511
518
525
532
539
546
553
560
567
574
581
588
595
602
609
616
623
630
637
644
651
658
665
672
679
686
693
700
707
714
721
728
735
742
749
756
763
770
777
784
791
798
805
812
819
826
833
840
847
854
861
868
875
882
889
896
903
910
917
924
931
938
945
952
959
966
973
980
987
994

In [ ]:
inicio = 0
fim = 1000

In [ ]:
for numero in range(inicio, fim):
    if numero % 7 == 0:
        print(numero)

In [59]:
# variáveis do tipo string
nome = 'João da Silva'
cidade = 'São Paulo'
cpf = '123.456.789-00'

In [61]:
#Transforme todos os caracteres das variáveis em maiúsculo;

nome = nome.upper()
cidade = cidade.upper()
print(nome, cidade)

JOÃO DA SILVA SÃO PAULO

In [63]:
# Transforme todos os caracteres das variáveis em minúsculo;

nome = nome.lower()
cidade = cidade.lower()
print(nome, cidade)

joão da silva são paulo

In [73]:
# Exiba a posição do caractere ã, se presente, em cada uma das variáveis;

nome = 'João da Silva'
nome [2]

'ã'

In [75]:
cidade = 'São Paulo'
cidade [1]

'ã'

In [80]:
# Exiba o número de caracteres de cada variável;

nome = 'João da Silva'
cidade = 'São Paulo'
cpf = '123.456.789-00'

In [86]:
nome = len(nome)
print(nome)

13

In [88]:
cidade = len(cidade)
print(cidade)

9

In [90]:
cpf = len(cpf)
print(cpf)

14

In [94]:
# Remova os pontos (.) e o hífen (–) da variável cpf.

cpf = '123.456.789-00'
cpf = cpf.replace('.', '').replace('-', '')
print(cpf)

12345678900

In [104]:
numero = [1,2,7,9,5,7]

soma = sum(numero)
print("A soma dos números é:", soma)

A soma dos números é: 31

In [106]:
numero = '127957'

for caractere in numero:
    print(caractere)

1
2
7
9
5
7